.board-list {
    margin: 3rem 0;
    cursor: pointer;
}
.title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    padding: 2rem 0 1rem 0;
    border-bottom: 2px solid #cacaca;
}

.detail {
    max-height: 10rem;
    width: 100%;
    margin: 2.5rem 0 6rem 1.5rem;
}
.content {
    font-size: 2rem;
    text-align: justify;
}
