@import "../../constants/color.scss";
.detail {
    &__main1,
    &__main2 {
        padding: 10rem 32rem;
    }
    &__main1 {
        background-color: $white;
    }
}
.title,
.subtitle {
    margin-bottom: 7rem;
    font-size: 4rem;
    text-align: center;
}
.contents-container {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    & > span {
        margin: 6px 0;
    }
}
.content {
    margin: 3rem 0;
    &-title {
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }
    &-context {
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        & > span {
            margin: 6px 0;
            font-size: 1.5rem;
        }
    }
}

// ////////////////////////////////////////////////////////
// meta-class
.paragraph {
    margin-bottom: 1rem;
}
.title-small {
    font-size: 2rem;
    margin: 5rem 0 1rem 0;
}
.list {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    position: relative;
    text-align: justify;
    &::before {
        content: "✔︎";
        margin-right: 1rem;
    }
}

.image {
    margin: 4rem 20rem;
}
