@import "./../../constants/animation.scss";
@import "./../../constants/color.scss";

.modal {
    &__backdrop {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.65);
        overflow: auto;
        z-index: 20;

        transition: all 0.8s;
    }
    &__container {
        position: relative;
        width: 45rem;
        max-width: 100%;
        padding: 15px;
        background: #fff;
        border-radius: 20px;
        animation: fade-in 0.8s forwards;
        box-shadow: $box-shadow;
    }
    &__text {
        margin: 0 auto;
        margin-top: 2.5rem;
        width: 30rem;
        font-size: 2rem;
        font-weight: 600;
    }
    &__close-btn {
        position: absolute;
        top: 1%;
        right: 2%;
        border-radius: 5px;
        cursor: pointer;

        svg {
            font-size: 3.5rem;
            fill: $subColor2;
            transition: all 0.4s;

            &:hover {
                transform: rotate(180deg);
            }
        }
    }
}

.fade-in {
    animation: fade-in 0.8s forwards;
}
.fade-out {
    animation: fade-out 0.8s forwards;
}
