extends index

block content 
  div 
    if user
      span
        p= `${user.displayName} | `
          a(href='/auth/logout') LogOut
    else
      p
        a(href='/login')= `로그인`
    p
      a(href='/signup') 회원가입

