@import "../../constants/mixin.scss";

.home-button {
    font-size: 4rem;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10rem;
}

.active {
    color: black;
}

@include tablet {
    .home-button {
        font-size: 4rem;
        margin-left: 3rem;
    }
}

@include mobile {
    .home-button {
        font-size: 3rem;
        margin-left: 2rem;
    }
}
