/* .navigation {
    margin: 2rem 0;
    height: 80px;
    background-color: #88bdbb;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    grid-gap: 6rem;
    justify-content: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 700;
    color: whitesmoke;
    height: 80px;
    text-align: center;
    cursor: pointer;
    background-color: brown;
}
 */

.header {
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: space-around;
    align-items: center;
    background-color: #008080;
}

.logo {
    font-size: 4rem;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 0 3rem;
    font-size: 1.25rem;
}

.nav a {
    font-size: 2rem;
    text-decoration: none;
    color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #e6fcfc;
}
