.navLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 6rem;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: all 0.25s;
}

.navLink:hover {
    background: #2f4858;
    border-left: 1rem solid #4e8c79;
    cursor: pointer;
}

.navLink-icon > svg {
    font-size: 2.4rem;
}
.navLink-title,
.dropdownLink-title {
    font-size: 1.5rem;
}

.dropdownLink {
    background: #2f5966;
    height: 60px;
    padding-left: 4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 0.25s;
}

.dropdownLink:hover {
    background: #316a71;
    cursor: pointer;
}
