@import "./../../constants//color.scss";

.navLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 6rem;
    list-style: none;
    text-decoration: none;
    color: $white;
    transition: all 0.25s;

    &:hover {
        background: $mainColor2;
        border-left: 1rem solid $subColor;
        cursor: pointer;
    }

    &-icon > svg {
        font-size: 2.4rem;
    }
}

.navLink-title,
.dropdownLink-title {
    font-size: 1.5rem;
}

.dropdown-Container {
    opacity: 0;
    visibility: hidden;
}
.dropdown-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}
.dropdownLink {
    background: $subColor2;
    height: 6rem;
    padding-left: 4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black;
    font-size: 18px;
    transition: all 0.4s;

    &:hover {
        background: $mainColor2;
        cursor: pointer;
    }
}

.logout-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}
