@import "./../../constants/color.scss";
.board {
    &-section {
        width: 100%;
    }
    &-title {
        margin-top: 4rem;
        font-size: 4rem;
        text-align: center;
    }
    &-main {
        height: 60vh;
        margin: 9rem 20rem;
        background: rgba($mainColor2, 0.4);
        border: 2px solid $mainColor;
        border-radius: 10px;
    }
}
