.mySwiper {
    margin: 10rem 1rem;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding: 5rem 0;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 400px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
