.detail {
    &-section {
        width: 100%;
    }
    &-container {
        margin-bottom: 9rem;
        font-size: 1.7rem;
        text-align: justify;
    }
}

.sample-container {
    box-sizing: border-box;
    width: 96rem;
    margin: 0 auto;
    text-align: center;
}
