.MainOption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainOption > svg {
    font-size: 15rem;
}

.MainOption__title {
    font-size: 2.6rem;
    text-align: center;
    margin: 2rem 0 3rem 0;
}
