@import "../../constants/mixin.scss";

.MainOption {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > svg {
        font-size: 15rem;
    }

    &-title {
        font-size: 2.6rem;
        text-align: center;
        margin: 2rem 0 3rem 0;
    }
    &-detail {
        margin: 0 2rem;
        text-align: justify;
        font-size: 1.4rem;
    }
}

@include tablet {
    .MainOption {
        & > svg {
            font-size: 10rem;
        }

        &-title {
            font-size: 2rem;
            margin: 2rem 5rem;
        }
        &-detail {
            margin: 0 14rem;
        }
    }
}

@include mobile {
    .MainOption {
        & > svg {
            font-size: 12rem;
        }

        &-title {
            font-size: 2rem;
            margin: 2rem 5rem;
        }
        &-detail {
            margin: 0 10rem;
        }
    }
}
